{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/themes/base.css") }}" />
    <script type="application/ecmascript" src="{{ url_for('static', filename="assets/baseHeader.js") }}"></script>
{% endblock %}

{% block header %}
    <header id="base-header">
        <div id="base-header-left">
            <a href="/" id="site-title">
                <img id="header-logo" src="/static/static/branding/header-logo.svg" alt="Archipelago" />
            </a>
        </div>
        <div id="base-header-right">
            <div id="base-header-popover-text">
                <img id="base-header-popover-icon" src="/static/static/button-images/popover.png" alt="Popover Menu" />
                get started
            </div>
            <div id="base-header-popover-menu">
                <a href="/games">supported games</a>
                <a href="/dev-games">In-Development games</a>
                <a href="/tutorial">setup guides</a>
                {% if config.GENERATORS > 0 %}
                    <a href="/generate">generate game</a>
                {% endif %}
                <a href="/uploads">host game</a>
                <a href="/user-content">user content</a>
            </div>
            
            <div id="base-header-popover-text-2">
                <img id="base-header-popover-icon" src="/static/static/button-images/popover.png" alt="Popover Menu" />
                Tools
            </div>
            <div id="base-header-popover-menu-2">
                <a href="/tools/poptracker">poptracker</a>
            </div>

            <a href="/faq/en">f.a.q</a>
            <a href="https://discord.com/channels/1338891181752455201" target="_blank">discord</a>
        </div>
        <div id="base-header-right-mobile">
            <a id="base-header-mobile-menu-button" href="#">
                <img src="/static/static/button-images/hamburger-menu-icon.png" alt="Menu" />
            </a>
        </div>
        <div id="base-header-mobile-menu">
            <a href="/games">supported games</a>
            <a href="/dev-games">In-Development games</a>
            <a href="/tutorial">setup guides</a>
            <a href="/faq/en">f.a.q.</a>
            {% if config.GENERATORS > 0 %}
                <a href="/generate">generate game</a>
            {% endif %}
            <a href="/uploads">host game</a>
            <a href="/user-content">user content</a>
            <a href="https://discord.com/channels/1338891181752455201" target="_blank">discord</a>
        </div>
        {% if today in config.LAUNCH %}
            {% for i in range(5) %}
                <script src="https://run.confettipage.com/here.js" data-confetticode="U2FsdGVkX1+joNf9xz5Jp7YvY2NjrHaMDsM7YBoHnYY+bWncvJjW/t5Blc1g1xshHn0tjqdGf+oNckYlUPssB3rRDrIuWn3kyghvTFmzX0ZlVyzHP0CYyZpGHJ+Z/53F2D+0yp26HqQwPlpacv2/uOJRz1FiXyCe+Rba0D/OVPSFg4JffkNAmeaRMyAlffWmh7kaPBgGWk+tc++mbCXeIH7/CDcjd6YkLoV/F16t0MYTHAlihzy5iUk4cL6ASCwOPHZwiZlWaScqF3bKHb5Bm2fsw/eBDhoEL/ja6NCX/NKC1fMykSlxRGmY2BHZ3RcvCydDHqO0pi7YAbRZoAMLZmBHy/FQNSyGe73kvDHvD04Ope4OkElXHVHwm9wHZjG5lZTLffAuf9s4+9FYHKVF4TadVR9ikBlXCFI0Bp1gXltk70HW15E4bxqE2RbwRAA2g8GNQ3faGN2MfpNYC8ESoth8ye6KkSdFUPMLnhoIwg04XwWhpeW06jq3aGcysD0WVgfKw/eLhA731dRHlJtyuMktOfnYaZpqWhk3DtkgdiW/MSFkDsM4AktRk2jHBwbmJz31ASEy/31lPyAaiDD0e8r0wi/0+v2uIDfLoeoqjswGgt0+mWPpRh0TsXU8Wt8t0ZGpuPOZQ24DkvgKOZ9R5E091LIoV2NI5vcqs1IbVQAF8O1mVVrHvVjYPxjcLhiw6qBs4O71ajwz+CGarGAZmQ=="></script>
            {% endfor %}
        {% endif %}
    </header>
{% endblock %}
