discord.py==2.6.4
pathspec>=0.12.1
pony>=0.7.19; python_version <= '3.12'
pony @ git+https://github.com/black-sliver/pony@7feb1221953b7fa4a6735466bf21a8b4d35e33ba#0.7.19; python_version >= '3.13'
PyYAML>=6.0.3
websockets>=13.0.1,<14